footer {
	display: block;
	background-color: #333333;
	color: #fff;
}
.footer {
	// .footer__content
	&__content {
		display: flex;
		justify-content: space-between;
		@include md-block {
			display: block;
			text-align: center;
		}
	}
}
.item-content {
	margin-right: 30px;
	cursor: pointer;
	&:last-child {
		margin-right: 0px;
	}
	@include md-block {
		margin: 0;
	}
	// .item-content__title
	&__title {
		display: inline-block;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
		margin: 56px 0 27px;
		@include md-block {
			margin: 20px 0 10px;
		}
	}

	// .item-content__menu
	&__menu {
		margin-bottom: 30px;
		@include md-block {
			display: none;
		}
		li {
			margin-bottom: 10px;
			a {
				font-weight: 400;
				font-size: 14px;
				line-height: 14px;
			}
		}
	}
}
.item-content {
	// .item-content__social
	&__social {
		li {
			margin-bottom: 15px;
			a {
				font-weight: 500;
				font-size: 17px;
				line-height: 20px;
				padding-left: 30px;
			}
		}
	}
}
.social-footer__telegram {
	background: url('../img/icons/telegram.png') left no-repeat;
}
.social-footer__viber {
	background: url('../img/icons/viber.png') left no-repeat;
}
.social-footer__whatsapp {
	background: url('../img/icons/whatsapp.png') left no-repeat;
}
.contact-footer {
	// .contact__button
	&__button {
		margin-bottom: 50px;
	}
}
.info-footer {
	// .info-footer__phone
	&__phone {
		display: inline-block;
		margin: 30px 0 10px;
		background: url('../img/icons/f-tel.svg') left no-repeat;
		padding-left: 30px;
		@include md-block {
			margin-right: 20px;
		}
		@include xs-block {
			margin-right: 0px;
		}

		a {
			font-weight: 500;
			font-size: 19px;
			line-height: 22px;
		}
	}

	// .info-footer__email
	&__email {
		display: inline-block;
		margin-bottom: 35px;
		background: url('../img/icons/f-email.svg') left no-repeat;
		padding-left: 30px;
		a {
			font-weight: 500;
			font-size: 17px;
			line-height: 20px;
		}
	}
}
.logo-footer {
	a {
		font-weight: 800;
		font-size: 60px;
		line-height: 74px;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.12653);
	}
}
hr {
	border: none;
	color: #565656;
	background-color: #565656;
	height: 2px;
}
.copy {
	text-align: center;
	span {
		display: block;
		padding: 20px 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #565656;
	}
}
